.button {
    background-color: rgb(0,41,124);
    border-radius: 75%;
    border: none;
    color: white;
    padding: 40px 40px;
    text-decoration: none;
    display: inline-block;
    margin-top: 25%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: rgb(255,104,1);
    color: white;
}
    
.img {
    width: 125px;
    height: 125px;
}

.margin {
    margin-left: 10px;
}

.tamaño {
    width: 100px;
    height: 100px;
}

.label {
    margin-top: 10px;
    margin-left: 16px;
    color: rgb(0,41,124);
    font-family: Century Gothic;
}

.margin {
    margin-left: 25px;
}

.row {
    margin-left: 100px;
}

body {
    margin-left: 5px;
    min-height: 100vh;
    /* background-image: url(/assets/norado.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body:before {
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(90deg, #55a8c1, #ec7a2e );

    opacity: 0.7;
}

.iteria {
    position: relative;
    z-index: 2;
}
