<!DOCTYPE html>
<html>
  <head>
    <title>Registro de actividad</title>
    <meta charset="UTF-8" />
  </head>

  <body>
    <app-dashboard></app-dashboard>
    <div class="cod-container">
      <form class="cod-form" name="registro">

        <h2>Añadir tarea a {{ Uname }}</h2>

        <input type="text"
               name="Nombre de la actividad"
               id="name"
               value="red"
               [(ngModel)]="actividades.name"
               placeholder=" Nombre de la actividad"
               required/>

        <input type="text"
               name="Cliente"
               id="cliente"
               [(ngModel)]="actividades.cliente"
               placeholder="Cliente"
               required/>

        <input type="text"
               name="Proyecto"
               id="proyecto"
               [(ngModel)]="actividades.proyecto"
               placeholder="Proyecto"
               required/>

        <input name="menu"
               [(ngModel)]="actividades.avance"
               placeholder="Avance"
               required
               id="avance">

        <textarea name="Descripción"
                  id="description"
                  [(ngModel)]="actividades.description"
                  placeholder="Describir el proyecto"
                  required></textarea>

        <button type="submit" (click)="sendActivities(id, Uname)" id="boton">Añadir</button>
      </form>
    </div>
  </body>
</html>
