<html lang="en">
  <head>
    <title>Empleados</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>

  <body>
    <app-dashboard></app-dashboard>
    <br>

    <div class="container">

      <div class="">
        <div class="col">
          <div class="input-group">
            <input [(ngModel)]="buscar"
                   name="buscar"  
                   type="text"
                  
                   placeholder="Buscar empleado"
                   id="input"/>
                <!-- <span class="input-group-addon">
              <i class="glyphicon glyphicon-search"></i>
                </span> -->
          </div>
        </div>
      </div>

      <br>
    
      <div class="row"  >
        <div class="col">
          <ul class="list-group">
            <a *ngFor="let u of ordenar | filtros: buscar:'name' | paginate: { itemsPerPage: 12, currentPage: pageActual }"
               (click)="onSelect(u.id, u.name)"
               id="back"
               class= "list-group-item">{{ u.name }}   </a>
            
              </ul>
        </div>
      </div>

    </div>

      <div  class=  "position" > 
        <pagination-controls  (pageChange)="pageActual = $event"></pagination-controls> 
      </div>
  
</body>
</html>
