.position {
  position: relative;
  margin-top: 1%;
  margin-left: 70%;


}

 body {
  margin-left: 5px;
  min-height: 100vh;
  /* background-image: url(/assets/desktop.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} 

 body:before {
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(90deg, #55a8c1, #ec7a2e );

  opacity: 0.3;
} 

#input {
  margin-left: 82%;
  height: 35px;
  width: 13pc;
  background-color: rgba(242, 242, 242);
  
}

input::placeholder {  
  text-align: center; 
}
.table{
  border-collapse: separate;
}

#back {
  background-color: rgba(242, 242, 242);
}

.jugadorazo{

margin-left: 35px;


}