  body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  body:before {
    content: ""; 
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    
    background: linear-gradient(90deg, #55a8c1, #ec7a2e );    
  
    opacity: 0.3; 
} 



.cod-container{
  position: relative;             
  margin-left: 15%;  
  width: 75%;                        
  height: 50%;
 
}

.position {                           
      
  margin-top: 1%;
  margin-left: 70%;
  position: relative;
}

#input{
  margin-left: 79%;
  height: 35px;
  width: 13pc;
  position: relative;
  background-color: rgb(241, 241, 241);
  border: 0;
}

input::placeholder {
  text-align: center;
}

#hola {
  position: relative;

}

 /*  .position{
   
   background-color: rgb(2, 2, 2);
   color: rgb(0, 0, 0);
  }

  #tableradius {
    position: relative;
  }
  
  #divtitle {
    background-color: rgb(238, 252, 255);
    border: black 1px solid;
    
    
    position: relative;
    padding-top: 4px;
    border-radius: 10px;
  
  }

  table th {
    text-align: center;
  }

  table td {
    text-align: center;
  }

  #input {
    
    width: 17pc;
    border: black 1px solid;
    background-color: rgb(240, 253, 255)
  }

  input::placeholder {  
    text-align: center; 
  }
  */ 