<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Checks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/datatables.bootstrap4.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <app-dashboard></app-dashboard>
    <div class="cod-container">
      
      <br>
      <div>
        <div class="row">
          <div class="col">
      <input [(ngModel)]="buscar"
             name="buscar"
             type="text"w
             placeholder="Búsqueda"
             id="input"/>
             <br>
             <br>
            </div>
            </div>    
      </div>
    <table   id="hola" class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>     
            <th scope="col">User ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col">Estado</th>
          </tr> 
        </thead>
        <tbody >
          <tr *ngFor="let c of ordenar| fechas: buscar:'name' | paginate: { itemsPerPage: 9, currentPage: pageActual }">
            <th></th>
            <td>{{c.uid}}</td>
            <td>{{c.name}}</td>
            <td>{{c.clock}}</td>
            <td>{{c.hora}}</td>
            <td>{{c.check}}</td>                 
          </tr>
        
        </tbody>
      </table>
    </div> 
   
      <div class="position">
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
      </div>

    
  </body>
  
  </html>