<html lang="en">
  <head>
    <title>Detalles</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/datatables.bootstrap4.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body class="tamaño">
    <app-dashboard></app-dashboard>
    <div class="cod-container">
       
      <br>
      <div id="divtitle" class="row" class="tamañoTabla">
        <h2 align="center" id="titulo">{{ name }}</h2><br></div>    
        <div class="col" class="table-responsive-sm">
          <table  class="table table-striped">
            <thead>
              <tr>
                <th>Actividades</th>
                <th>Cliente</th>
                <th>Proyecto</th>
                <th>Descripción</th>
                <th>Avance</th>
                <th>Estado</th>
              </tr>
            </thead>  
            <tbody>
              
              <tr *ngFor="let a of ordenar | paginate: { itemsPerPage: 6, currentPage: pageActual }">
      
                <td >{{ a.name }}</td>
                <td>{{ a.cliente }}</td>
                <td>{{ a.proyecto }}</td>
                <td>{{ a.description }}</td>
                <td>{{ a.avance }}</td>
                <td>{{ a.estado }}</td>
                <td><a (click)="editarActividad(id, a.id, name, a.name, a.cliente, a.proyecto, a.description, a.avance, a.estado)">
                    <span id="icon"><i class="fas fa-check"></i></span>
                    </a>
                </td>
32102+/
                
                
                <td><a mwlConfirmationPopover
                       [popoverTitle]="popoverTitle"
                       [popoverMessage]="popoverMessage"
                       placement="left"
                       (confirm)="eliminarActividades(a.id)"
                       (cancel)="cancelClicked = true">
                       <span><i class="fas fa-trash-alt"></i> delete</span>
                   </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      

      <div class="row">
        <div id="boton" class="col">
          <button type="button" (click)="agregarTareas(id, name)" class="btn btn-primary">
            <span class="oi oi-beaker"></span> Añadir Tarea
          </button>
        </div>

        <div class="col" id="boton2">
          <button type="button"
                  class="btn btn-danger"
                  mwlConfirmationPopover
                  [popoverTitle]="Titulo"
                  [popoverMessage]="Mensaje"
                  placement="top"
                  (confirm)="eliminarUsuario(id)"
                  (cancel)="cancel = true">

            <span class="glyphicon glyphicon-trash"></span> Eliminar Empleado
          </button>
        </div>
      </div>

      
        <div  class="position">
          <pagination-controls  (pageChange)="pageActual = $event"></pagination-controls>
        </div>
   
  </div>
  </body>
</html>
