body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  background-attachment: fixed;  
}

body:before {
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(90deg, #55a8c1, #ec7a2e );

  opacity: 0.3;
} 

.cod-container{
  position: relative;
  margin-left: 15%;
  width: 75%;
  height: 50%;

}

#pagination {
  position: fixed; 
  margin-left: 64%;
  bottom: 3em;
  left: 9em;

} 

#boton {
  position: fixed;
  bottom: 2em;
  margin-left: 10px;
  margin-right: 10px;

}

#boton2 {
  position: fixed;
  bottom: 2em;
  margin-left: 130px;
}




.table {
  position: relative;
}

#titulo {
  position: relative;
}

#icon {
  color: rgb(20, 161, 20);
}

#icon2 {
  color: red;
}

#divtitle {
  background-color: rgb(212, 212, 207);
  position: relative;
  padding-top: 4px;
  padding-bottom: 1px;
  border-radius: 10px;
}


table th {
  text-align: center;
}

table td {
  text-align: center;
}
.position{
 
  position: relative;
  margin-top: 1%;
  margin-left: 70%;

}