body {
    min-height: 100vh;
    background-image: url(/assets/desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body:before {
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(90deg, #55a8c1, #ec7a2e );

    opacity: 0.7;
}

.cod-container{
    width: 800px;
    margin: auto;
    background: rgba(83, 83, 80, 0.897); 
    padding: 10px 20px;
    box-sizing: border-box;
    position: relative;
    top: 3em;
    border-radius: 20px;
}

h2{
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;

}


input, textarea,select{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    border: none;
    font-size: 17px;
    border-radius: 10px
    
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
   

}

#boton{

    background: rgb(0,41,124);
    color: #fff;
    padding : 20px;
    border: none;
    width: 100%;
    border-radius: 20px;
}

#boton:hover{
    background-color: rgb(255,104,1);
    border: none;
}


.aliner{

    text-align: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(0,41,124);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(0,41,124);
    cursor: pointer;
  }