<html lang="en">
  <head>
    <title>Registro de actividad</title>
    <meta charset="UTF-8" />
  </head>
  <body>
      <app-dashboard></app-dashboard>
      <div class="cod-container">
        <form #form="ngForm" class="cod-form" name="registro">
  
          <h2>Actualizar tarea a {{uname}}</h2>

          <input id="name" 
                 name="Nombre de la actividad"
                 type="text"
                 [(ngModel)]="actividades.name"
                 placeholder="Nombre de la actividad"
                 required/>
             
          <input id="cliente"
                 name="Cliente"
                 type="text"
                 [(ngModel)]="actividades.cliente"
                 placeholder="Cliente"
                 required/>

          <input id="proyecto"
                 name="Proyecto"
                 type="text"
                 [(ngModel)]="actividades.proyecto"
                 placeholder="Proyecto"
                 required/>
  
          <input id="avance"
                 name="menu"
                 type="text"
                 [(ngModel)]="actividades.avance"
                 placeholder="Avance"
                 required>

          <textarea name="Descripción"
                    id="description"
                    [(ngModel)]="actividades.description"
                    placeholder="Descripción"
                    required></textarea>
  
          <button type="submit" (click)="editarActividad(aid)" [disabled]="form.invalid" id="boton">Actualizar</button>
        </form>
      </div>
  </body>
</html>
