<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>

  <body>
    <app-dashboard></app-dashboard>

    <div class="cod-container">
      <form #form="ngForm" class="cod-form">
        <h2>Agregar empleado</h2>

        <input type="text"
               name="nombre"
               placeholder="Nombre del empleado"
               [(ngModel)]="name"
               required/>

        <input type="email"
               name="correo"
               placeholder="Correo electrónico"
               [(ngModel)]="email"
               required/>

        <input type="password"
               name="contraseña"
               placeholder="Contraseña"
               [(ngModel)]="password"
               required/>

        <button type="submit" id="boton" [disabled]="form.invalid" (click)="savedata()">Registrar empleado</button>
      </form>
    </div>
  </body>
</html>
