<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
      <div align="center">
          <img class="iteria" src="/assets/iteria.png">     
        </div>

    <div class="cod-container">


      <form class="cod-form"></form>          
      <h2>Iniciar sesión</h2>
 
      <input type="email"
             name="correo"
             [(ngModel)]="usuario.email"                           
             placeholder="Correo electrónico"
             required/> <br>
      
      <input type="password" 
             name="contraseña"
             [(ngModel)]="usuario.password" 
             placeholder="Contraseña"
             required/>
      
      <button type="submit" id="boton" (click)="logIn()" [disabled]="loginForm.valid">
        Login1q                       
      </button>
    </div>
  </body>
</html>
