body {
    min-height: 100vh;
    background-image: url(/assets/desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body:before {
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(90deg, #55a8c1, #ec7a2e );

    opacity: 0.7;
}

.cod-container{
    width: 700px;
    margin: auto;
    background: rgba(83, 83, 80, 0.897); 
    padding: 10px 20px;
    box-sizing: border-box;
    position: relative;
    top: 12em;
    border-radius: 20px;
  }
  
  h2{
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  
  }
  
  input, textarea,select{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    border: none;
    font-size: 17px;
    border-radius: 10px
    
  }
  
  textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
  }
  
  #boton{
    background: rgb(0,41,124);
    color: #fff;
    padding : 20px;
    border: none;
    width: 100%;
    border-radius: 20px;
  }
  
  #boton:hover{
    background-color: rgb(255,104,1);
    border: none;
  }
  
  .aliner{
    text-align: center;
  }

  .iteria {
    position: absolute;
    top: 3em;
    right: 40%;
}

.img {
    width: 125px;
    height: 125px;
}