<html lang="en">
  <head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="area"></div>
    <nav class="main-menu">
      <ul>
        <li>
          <a routerLink="/inicio">
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text">
              Inicio
            </span>
          </a>
        </li>
        <li class="has-subnav">
          <a routerLink="/registro">
            <i class="fa fa-user fa-2x"></i>
            <span class="nav-text">
              Registro de empleados
            </span>
          </a>
        </li>
        <li class="has-subnav">
          <a routerLink="/usuarios">
            <i class="fa fa-cogs fa-2x"></i>
            <span class="nav-text">
              Gestión de empleados
            </span>
          </a>
        </li>
        <li class="has-subnav">
          <a routerLink="/marcacion-tarjeta">
            <i class="fa fa-id-card fa-2x"></i>
            <span class="nav-text">
              Marcación de tarjeta
            </span>
          </a>
        </li>
      </ul>

      <ul class="logout">
        <li>
          <a routerLink="/" (click)="logOut()">
            <i class="fa fa-power-off fa-2x"></i>
            <span class="nav-text">
              Cerrar sesión
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
